.news {
  & .news-card {
    position: relative;
    height: 31rem;
    z-index: 9;
    &__background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(0.7);
    }

    &__heading {
      width: 70%;
      position: absolute;
      line-height: 1.2;
      bottom: 25px;
      left: 50%;
      transform: translate(-50%, -40px);
      font-size: 1.8rem;
      color: var(--colorMain);
      text-align: center;
    }

    &__button {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 5.5rem;
      height: 5.5rem;
      background-color: var(--colorYellow);
      display: flex;
      align-items: center;
      justify-content: center;
      & > i {
        font-size: 2rem;
        transform: rotate(-45deg);
      }
    }
  }
}
