dialog{
    &#winPrize,&#losePrize{
        &::backdrop{
            background: linear-gradient(-123deg, rgba(149, 128, 255, 0.35) 0%, rgba(136, 118, 225, 0.35) 100%), 
                        linear-gradient(-51deg, rgba(122, 154, 233, 0.35) 0%, rgba(144, 166, 238, 0.35) 100%),
                        rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(10px);
        }
    }
    &#agreeToSpend{
        &::backdrop{
            background: rgba(32, 32, 32, 0.7);
            backdrop-filter: blur(10px);
        }
    }
    
}
    .winprizes {
    
    &__card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        position: relative;
        background-color: rgba(240, 244, 254, 1);
        padding: 30px;
        border-radius: 30px;
        height: 220px;
        width: 220px;
        overflow: hidden;
        justify-content: space-between;
        
        .tag{
            padding: 5px;
            font-size: 16px;
            font-weight: 500;
            line-height: normal;
            color: #fff;
        }
        img{
            position: absolute;
            left: -15px;
            bottom:-50px;
            max-width: 150%;
            height: auto;
        }
        div{
            z-index: 1;
        }
        a{
            z-index: 1;
        }
        .button-blur-dark-prize{
            width: 100%;
        }
        &.opened{
            filter: grayscale(100%) brightness(1.1);
            .tag{
                filter:none; 
            }
        }
    }
    &-cards-slider{
        .swiper-scrollbar-drag{
            background-color: #fff;
        }
        .swiper-scrollbar{
            left: auto;
            bottom: auto;
            z-index: auto;
            background: rgba(255, 255, 255, 0.2);
            width: 96%;
        }
    }
    &-card__title{
        display: flex;
        align-items: center;
        gap:10px;
        font-size: 20px;
        font-weight: 500;
        line-height: normal;
        color: #4F4F4F;
        text-align: left;
       
    }
        
}