@font-face {
  font-family: InterTight-Bold;
  src: url('../font/InterTight-Bold.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
}

@font-face {
  font-family: InterTight-SemiBold;
  src: url('../font/InterTight-SemiBold.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
}

@font-face {
  font-family: InterTight-Medium;
  src: url('../font/InterTight-Medium.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
}

@font-face {
  font-family: InterTight-Regular;
  src: url('../font/InterTight-Regular.ttf');
}

@font-face {
  font-family: Caveat-Regular;
  src: url('../font/Caveat-Regular.ttf');
}